body {
    padding: 0;
    margin: 0;
    background-color: #ada3a3;
}
.navbar {
    background-color: #d88167;
}
.nav-link,
.navbar-brand {
    color: aliceblue;
    cursor: pointer;
    padding: 10px;

}
.nav-link {
    margin-right: 1em;
}
.nav-lin:hover {
    color:blue;
}
.navbar-collapse {
    justify-content: flex-end;
}
.description {
    left: 50%;
    position: absolute;
    top: 45%;
    transform: translate(-50%, -55%);
    text-align: center;
}
.description h1 {
    color: #301a08;
    font-size: 45px;
}
.description p {
    color: white;
    font-size: 1.3rem;
    line-height: 1.5;
}
.features {
    position: relative;
    
}
.footer {
    color: #ecd2bc;
    background-color: #2c2621;
    padding: 10px;
    height: 130px;
    font-size: 14px;
}